doctype html
html
  head
    title= title
  body
    h1= title
    p Hello, #{ip}
    p 
        - console.log('hello my node');
    br
    - var s = 'hello world' // 在服务端空间中定义变量
    p #{s}
    p= s

    - var user = { description: '我喜欢猫' }
        - if (user.description)
            h2 描述
            p.description= user.description
        - else
            h1 描述
            p.description 用户无描述


select(id="xxx", name="xxxyyy")
    - for(var i = 1;i<10;i++){
    option(value="#{i}") Some value for #{i}
    - }
